.container{
    margin-bottom:100px;
}
.carousel-item{
    padding:20px 40px;
}
.bg-carousel{
    background-color:#FEEAE9;
}
.price{
    color:#E62060;
    font-weight: 700;
}

h1{
    text-transform:capitalize;
    font-weight:700;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #EB236D 0%, #EE4185 100%);
    padding:8px 20px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    color:#fff;
    text-transform:capitalize;

}
.cat1{
    background-color: orange;
    border-radius:10px;
    
}
.cat2{
    background-color:orchid;
    border-radius:10px;
}
.cat3{
    background-color:blue;
    border-radius:10px;
}
.categories{
    width:100%;
}
.float{
    float:left;
    color:white;
    padding-top:50px;
    padding-left:5px;
}
.image{
    float:right;
    padding-top:30px;
    padding-right:10px;
}
.card{
    box-shadow: 10px 10px 30px gray;
}
#subscribe{
    height:300px;
    
}
#subscribe h6{
    color:gray;
}
.submit{
    padding-top:8px;
}
footer{
    text-align:center;
}